*{
  padding: 0px;
  margin: 0px;
}
html{
  width: 100%;
  height: 100%;
}
header{
  width: 100%;
  height: 500px;
  background-image: url("assets/jpg/fundin2.jpg");
}
.header-img{
  height: 500px;
  width: 100%;
  position: relative;
}
.header-texto{
  position: relative;
  margin-top: 300px;
  margin-left: 50px;
  font-family: 'Verdana' !important;
  text-align: center;
  color: #F0FFFF !important;
  font-weight: bolder !important;
  font-size: 20px;
  text-shadow: 5px 6px 11px black;
}
body{
  background-image: url("assets/jpg/rcfundo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.barraTopo ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,1);
}
.barraTopo img{
  padding-left: 350px;
  padding-top: 10px;
}
.barraTopo li {
    float: left;
}
.barraTopo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.barraTopo li a:hover {
    background-color: #696969;
}
.produto{
  font-size: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  margin: auto;
  text-align: center;
  transition: 0.5s;
  height: 500px;
  width: 850px;
  font-weight: bolder;
}
.produto img{
  padding: 20px 0px;
  width: 800px;
  height: 335px;
}
.produto:hover{
  background-color: rgba(0,0,0,0.8);
  transition: 0.5s;
}
.outrosprodutos{
  padding-top: 30px;
  color: white;

  font-size: 20px;
  text-shadow: 5px 6px 11px black;
}
.outrosprodutos li{
  display: inline-block;
  list-style-type: none;
  padding: 20px;
  transition: 0.5s;
}
.outrosprodutos li:hover{
  background-color: rgba(0,0,0,0.8);
  transition: 0.5s;

}
.outrosprodutos ul{
  text-align: center;
}
.outrosprodutos img{
  width: 200px;
  height: 82px;
}
footer{
  height: 90px;
  color: white;
  background-color: #333333;
  text-align: center;
  padding-top: 40px;
}
footer p{
  margin-bottom: 0px !important;
}
.contatoCorpo{
  color: white;
  font-weight: bolder;
  font-family: "Helvetica";
  font-size: 25px;
  text-align: center;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
}
.clear {
	clear: both;
}
.musicasection{
  padding: 60px 0px;
  text-align: center;
  font-size: 30px;
  font-family: 'Verdana';
  color: #F0FFFF;
  text-shadow: 5px 6px 11px black;
  background-color: rgba(0,0,0,0.7)
}
.musicasection img{
  padding: 40px 0px;
}


/* DETALHES PRODUTO */
.fotoProdutoAtual{
  max-width: 1000px;
}
.produtoAtual{
  background-color: white;
  text-align: center;
}
.tituloProduto{
  text-align: center;
}
.thumbnailProduto{
  height: 200px;
  width: 350px;
}
.linha a{
  text-align: center;
  margin: 30px;
  display: inline-block;
}
.detalhesProduto{
  padding-left: 30px;
  background-color: white;
}
.detalhesProduto ol{
  list-style: none;
}
.maisProdutos{
  padding-left: 30px;
  background-color: white;
}

/* FIM DETALHES */